{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title> Solicitud de Compra | Feria Virtual</title>
  <link rel="stylesheet" href="{% static 'css/topbanner.css' %}">
  <link rel="stylesheet" href="{% static 'css/centro.css' %}">
</head>
<div class="header">
  <a href="{% url 'home' %}" class="logo"> Feria Virtual</a>
  <div class="header-right">
    {% if user.is_authenticated %}
      <a class="active" href="{% url 'logout' %}">Cerrar Sesión</a>
      <a href="{% url 'perfil' %}">Perfil</a>
      <a href="{% url 'iniciointerno' %}">Pedidos</a>
    {% else %}
    
      <a class="active" href="{% url 'login' %}">Iniciar Sesión</a>
        
    {% endif %}

    <a href="{% url 'contacto' %}">Contacto</a>
    <a href="{% url 'aboutus' %}">Sobre Nosotros</a>
    <br></br>
</div>

  
  </div>
<body>
    <br>
    <div class="damn">
        <h1>Solicitud de Compra</h1>
        <form action="" method="POST">
          {% csrf_token %}
            <label for="user">Producto:</label>
            <select name="proddisp" id="proddisp">
                <option value ="">Seleccionar Producto</option>
                {% for c in listar_productos %}
                <option value="{{ c.0 }}">{{ c.1 }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="user">Cantidad/Kilos deseados:</label>
            <input type="text" id="nrokg" name="nrokg" placeholder="Numero de kilos/cantidad"><br><br>
        <input type="submit" value="Ingresar Producto a Pedido" style="background-color:rgb(17, 173, 101);"></button>
        
        {{mensaje}}
        </form> <br>
        <button style="background-color: rgb(17, 173, 101);">
        
            
          <a href="{% url 'paginapedidos' %}">Terminar Pedido</a>
        </button>
        <button style="background-color: rgb(17, 173, 101);">
        
            
          <a href="{% url 'eliminarpedido' idpedi %}">Terminar Pedido</a>
        </button>
    </div>
   

    <br>
    <br>
    <br>

    <table>
      <tr>
        <th>Producto en Carro</th>
        <th>Kilos/Cantidad</th>
        <th>Eliminar Producto de Pedido</th>
      </tr>
      <tr>
        {% for i in listar_detalle %}
          {% for n in listar_nombre %}
            {% if i.id_producto_id == n.id_producto %}
              <td>{{n.nombre_producto | title}}</td>
            {% else %}

            {% endif %}
          {% endfor %}
          <td>{{i.cantidad | title}}</td>
        <td><a href="{% url 'eliminardetallepedido' i.id_pedido_id i.id_producto_id %}">Eliminar Producto</a></td>
      </tr>
        {% endfor %}
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table> 
    <br>

    
        
</body>
</html>