{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title> Subastas Ganadas | Feria Virtual</title>
  <link rel="stylesheet" href="{% static 'css/topbanner.css' %}">
  <link rel="stylesheet" href="{% static 'css/centro.css' %}">
</head>
<div class="header">
  <a href="{% url 'home' %}" class="logo"> Feria Virtual</a>
  <div class="header-right">
    {% if user.is_authenticated %}
        <a class="active" href="{% url 'logout' %}">Cerrar Sesión</a>
        <a href="{% url 'perfil' %}">Perfil</a>
    {% else %}
    <a class="active" href="{% url 'login' %}">Iniciar Sesión</a>
    {% endif %}
    <a href="{% url 'contacto' %}">Contacto</a>
    <a href="{% url 'aboutus' %}">Sobre Nosotros</a>
      <br></br>
  </div>
  <br></br>
  
  </div>
<body>
    <br>
    <div class="damn">
        <<h1>Subastas Ganadas</h1>
        <p>Revisa tus pedidos! Cualquier duda, contactar con administración.</p>
        
        <table>
          <tr>
            <th>Pedido</th>
            
            <th>Fecha de Entrega</th>
            <th>Estado de Envio</th>
          </tr>
          <tr>
            <td>C:01993081</td>
            
            <td>10/10/2021</td>
            <td><a href="{% url 'paginapedidos' %}">Confirmar Entrega</a></td>
          </tr>
          <tr>
            <td>C:991883801 </td>
            
            <td>09/10/2021</td>
            <td><a href="{% url 'paginapedidos' %}">Confirmar Entrega</a></td>
          </tr>
          <tr>
              <td>C:9918844201 </td>
             
              <td>09/10/2021</td>
              <td>Entregado</td>
            </tr>
        </table> 
        <br>
        <button style="background-color: rgb(17, 173, 101);">
            
                
          <a href="{% url 'iniciotransportista' %}">Regresar</a>
        </button>

</body>
</html>