{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title> Seguimiento | Feria Virtual</title>
  <link rel="stylesheet" href="{% static 'css/topbanner.css' %}">
  <link rel="stylesheet" href="{% static 'css/centro.css' %}">
</head>
<div class="header">
  <a href="{% url 'home' %}" class="logo"> Feria Virtual</a>
  <div class="header-right">
    {% if user.is_authenticated %}
        <a class="active" href="{% url 'logout' %}">Cerrar Sesión</a>
        <a href="{% url 'perfil' %}">Perfil</a>
    {% else %}
    <a class="active" href="{% url 'login' %}">Iniciar Sesión</a>
    {% endif %}
    <a href="{% url 'contacto' %}">Contacto</a>
    <a href="{% url 'aboutus' %}">Sobre Nosotros</a>
      <br></br>
  </div>
  <br></br>
  
  </div>
<body>
    <br>
    <div class="center">
        <h1>El seguimiento de tu pedido esta disponible.</h1>
  <p>Haz click sobre cualquier etapa del seguimiento para ver detalles.</p>

  <h1>Aca ira la interfaz de seguimiento</h1>

  <button style="background-color: rgb(17, 173, 101);">
      
          
    <a href="{% url 'iniciointerno' %}">Regresar</a>
  </button>
        
    </div>

</body>
</html>